body {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

.speedometer {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's on top */
}

.dial-speedo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #424242 25%, #333 90%);
  position: relative;
  border: 5px solid #424242;
  box-shadow: 0 0 25px #ffffff1a;
}

.speed-display {
  position: absolute;
  bottom: 180px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: monospace;
  z-index: 5;
}

.speed-perhour {
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-family: fantasy;
  z-index: 5;
  font-weight: bold;
}

.gear-display {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  z-index: 5;
}

.rpm-display {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #dbdbdb;
  font-family: monospace;
  z-index: 5;
}


.inside-dial {
    border: 25px solid #353535;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #919191 20%, #353535 100%);
    top: calc(15% - 10px);
    left: calc(15% - 10px);
    z-index: 4;
    position: relative;
}

.icon {
  position: absolute;
  font-size: 16px;
  color: white;
  font-family: monospace;
}

.rpm-arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotate(-180deg);
  pointer-events: none;
}

.tick {
  position: absolute;
  width: 1.5px;
  height: 65px;
  background: rgb(77, 77, 77);
  top: 85px;
  left: 49.5%;
  transform-origin: bottom center;
  rotate: -45deg;
  z-index: 4;
}

.circular-number {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.number {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: fantasy;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  -webkit-text-stroke: 0.7px rgb(29, 29, 29);
}

/* .new {
  color: #dbdbdb;
} */