body {
  background: transparent !important;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 50px;
}

.speedometer {
  width: 300px;
  height: 300px;
  position: relative;
  bottom: -550px;
  right: -750px;
}

.dial-speedo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #363636 60%, #333);
  position: relative;
  border: 10px solid #6d6d6d;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.speed-display {
  position: absolute;
  bottom: 180px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: monospace;
  z-index: 5;
}

.speed-perhour {
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
  font-size: 27px;
  color: #ffffff;
  font-family: monospace;
  z-index: 5;
}

.gear-display {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  z-index: 5;
}

.rpm-display {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  font-family: monospace;
  z-index: 5;
}


.inside-dial {
    border: 25px solid #727272;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #919191 30%, #444444);
    top: calc(15% - 10px);
    left: calc(15% - 10px);
    z-index: 4;
    position: relative;
}

.icon {
  position: absolute;
  font-size: 16px;
  color: white;
  font-family: monospace;
}

.fuel-icon {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.abs-icon {
  top: 50%;
  right: 20%;
  transform: translate(50%, -50%);
}

.rpm-arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotate(-180deg);
  pointer-events: none;
}

.tick {
  position: absolute;
  width: 3px;
  height: 65px;
  background: rgb(128, 128, 128);
  top: 85px;
  left: 49.5%;
  transform-origin: bottom center;
  rotate: -45deg;
  z-index: 4;
}

.circular-number {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.number {
  position: absolute;
  color: white;
  font-size: 12px;
  font-family: monospace;
  transform: translate(-50%, -50%);
}

/* .new {
  color: #dbdbdb;
} */